{% extends 'index.html' %}
{% block title %}
<title>Shop</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
            <h5 class="background text-light text-center p-2 my-2">Menue</h5>
            <div class="list-group">
                <h6 class="background text-light text-center p-1 ">Maincategory</h6>
                <a href="/shop/All/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">All</a>
                {% for i in maincategory %}
                <a href="/shop/{{i.name}}/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
              
            <div class="list-group">
                <h6 class="background text-light text-center p-1">Subcategory</h6>
                <a href="/shop/{{mc}}/All/{{br}}/" class="list-group-item list-group-item-action">All</a>
                {% for i in subcategory %}
                <a href="/shop/{{mc}}/{{i.name}}/{{br}}/"
                    class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>

            <div class="list-group">
                <h6 class="background text-light text-center p-1">Brand</h6>
                <a href="/shop/{{mc}}/{{sc}}/All/" class="list-group-item list-group-item-action">All</a>
                {% for i in brand %}
                <a href="/shop/{{mc}}/{{sc}}/{{i.name}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-12">
        <h5 class="background text-light text-center p-2 my-2">Shop section</h5>

        <div class="row mt-3">
            {% for item in data %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3">
                    <img src="{{item.pic3.url}}" height="250px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">&#8377;<del>{{item.baseprice}}</del><sub>{{item.finalprice}}</sub></p>
                        <p class="card-text">Discount{{item.discount}}%</p>
                        <p class="card-text">Color {{item.color}} {{item.size}}</p>
                        <a href="/singleProduct/{{item.id}}" class="btn btn-primary background text-light w-100 btn-sm">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
</div>
{% endblock %}